vti_encoding:SR|utf8-nl
vti_author:SR|Terminator\\gratajikipi
vti_modifiedby:SR|Terminator\\gratajikipi
vti_timelastmodified:TR|01 Oct 2011 02:24:56 -0000
vti_timecreated:TR|01 Oct 2011 02:24:56 -0000
vti_cacheddtm:TX|01 Oct 2011 02:24:56 -0000
vti_filesize:IR|1551
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|default.asp index_old.htm info.htm news.htm feedback.asp terms.html
